<div class="panel panel-default" ng-class="{ active: $state.includes('items.details') }">
  <div class="panel-heading">
    {{data.model.name}}
    <a href title="Edit this category" class="fa fa-edit pull-right" ui-sref="items.update({id: data.model._id})"></a>
  </div>

  <div class="panel-body">
    <p class="lead" ng-bind="data.model.intro"></p>

    <p>
      <img ng-if="data.model.picture" ng-src="{{data.model.picture}}" class="img-responsive img-thumbnail" alt="{{data.model.name}}" width="100%">
    </p>

    <p ng-bind="data.model.description"></p>

    <div>
      <h4>Prices</h4>

      <div class="table-responsive">
        <table class="table table-hover">
          <tr>
            <th>Type</th>
            <th>Price</th>
          </tr>

          <tr ng-repeat="price in data.model.prices">
            <td>
              <span ng-bind="price.name"></span>
            </td>
            <td>
              <span ng-bind="price.value"></span>
            </td>
          </tr>
        </table>
      </div>

      <div>
        <label>Tax/VAT</label>: <span>{{data.model.tax * 100}}%</span>
      </div>
    </div>

    <div>
      <label>Preparation time</label>:
      <span>{{data.model.preparation}} minutes</span>
    </div>

    <div>
      <label>Link</label>:
      <span><a href="{{data.model.link}}" target="_blank">{{data.model.link}}</a></span>
    </div>

    <div class="pull-right">
      <span class="label label-default">{{data.model.category.name}}</span>
    </div>
  </div>
  <!-- //.panel-body -->

  <div class="panel-footer">
    <button class="btn btn-primary" ui-sref="items.update({id: data.model._id})">Edit</button>
  </div>

</div>
